@model IEnumerable<JobSearch.MVCWeb.Models.InterviewLogResult>

@{
    ViewBag.Title = "Interview Log Index";
}

<h2>Interview Log Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        @*<th>
            InterviewId
        </th>*@
        <th>
            Client Company
        </th>
        <th>
            Recruiter
        </th>
        <th>
            Job
        </th>
        <th>
            Interview Status
        </th>
        <th>
            Interview Date
        </th>
        <th>
            Interview Time
        </th>
        <th>
            Notes
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.InterviewId)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.ClientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RecruiterName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewStatusDescription)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.InterviewDate)*@
            @item.InterviewDate.ToShortDateString()
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterviewTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {id=item.InterviewId }) |
            @Html.ActionLink("Details", "Details", new { id = item.InterviewId })
            
        </td>
    </tr>
}

</table>
